<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.prontera.persistence.EventProcessMapper">
    <resultMap id="BaseResultMap" type="com.github.prontera.domain.EventProcess">
        <id column="tevent_process_id" jdbcType="BIGINT" property="id"/>
        <result column="tevent_process_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="tevent_process_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="tevent_process_delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="tevent_process_event_status" jdbcType="TINYINT" property="eventStatus"
                typeHandler="com.github.prontera.model.type.handler.EventProcessStatusHandler"/>
        <result column="tevent_process_event_type" jdbcType="TINYINT" property="eventType"
                typeHandler="com.github.prontera.model.type.handler.EventPublishTypeHandler"/>
        <result column="tevent_process_biz_type" jdbcType="VARCHAR" property="bizType"/>
        <result column="tevent_process_req_payload" jdbcType="VARCHAR" property="reqPayload"/>
        <result column="tevent_process_resp_payload" jdbcType="VARCHAR" property="respPayload"/>
        <result column="tevent_process_publish_guid" jdbcType="CHAR" property="publishGuid"/>
        <result column="tevent_process_process_guid" jdbcType="CHAR" property="processGuid"/>
    </resultMap>
    <sql id="Base_Column_List">
        tevent_process.id as tevent_process_id, tevent_process.create_time as tevent_process_create_time,
        tevent_process.update_time as tevent_process_update_time, tevent_process.delete_time as tevent_process_delete_time,
        tevent_process.event_status as tevent_process_event_status, tevent_process.event_type as tevent_process_event_type,
        tevent_process.biz_type as tevent_process_biz_type, tevent_process.req_payload as tevent_process_req_payload,
        tevent_process.resp_payload as tevent_process_resp_payload, tevent_process.publish_guid as tevent_process_publish_guid,
        tevent_process.process_guid as tevent_process_process_guid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_event_process tevent_process
        where tevent_process.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_event_process
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.github.prontera.domain.EventProcess">
        INSERT INTO t_event_process (id, create_time, update_time,
                                     delete_time, event_status,
                                     event_type,
                                     biz_type, req_payload, resp_payload,
                                     publish_guid, process_guid)
        VALUES (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                                       #{deleteTime,jdbcType=TIMESTAMP},
                                       #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler},
                                       #{eventType,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventPublishTypeHandler},
                                       #{bizType,jdbcType=VARCHAR}, #{reqPayload,jdbcType=VARCHAR},
                                       #{respPayload,jdbcType=VARCHAR},
                                       #{publishGuid,jdbcType=CHAR}, #{processGuid,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.github.prontera.domain.EventProcess">
        insert into t_event_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="eventStatus != null">
                event_status,
            </if>
            <if test="eventType != null">
                event_type,
            </if>
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="reqPayload != null">
                req_payload,
            </if>
            <if test="respPayload != null">
                resp_payload,
            </if>
            <if test="publishGuid != null">
                publish_guid,
            </if>
            <if test="processGuid != null">
                process_guid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="eventStatus != null">
                #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler},
            </if>
            <if test="eventType != null">
                #{eventType,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventPublishTypeHandler},
            </if>
            <if test="bizType != null">
                #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="reqPayload != null">
                #{reqPayload,jdbcType=VARCHAR},
            </if>
            <if test="respPayload != null">
                #{respPayload,jdbcType=VARCHAR},
            </if>
            <if test="publishGuid != null">
                #{publishGuid,jdbcType=CHAR},
            </if>
            <if test="processGuid != null">
                #{processGuid,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.prontera.domain.EventProcess">
        update t_event_process
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="eventStatus != null">
                event_status =
                #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler},
            </if>
            <if test="eventType != null">
                event_type =
                #{eventType,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventPublishTypeHandler},
            </if>
            <if test="bizType != null">
                biz_type = #{bizType,jdbcType=VARCHAR},
            </if>
            <if test="reqPayload != null">
                req_payload = #{reqPayload,jdbcType=VARCHAR},
            </if>
            <if test="respPayload != null">
                resp_payload = #{respPayload,jdbcType=VARCHAR},
            </if>
            <if test="publishGuid != null">
                publish_guid = #{publishGuid,jdbcType=CHAR},
            </if>
            <if test="processGuid != null">
                process_guid = #{processGuid,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.prontera.domain.EventProcess">
        UPDATE t_event_process
        SET create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP},
            delete_time  = #{deleteTime,jdbcType=TIMESTAMP},
            event_status = #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler},
            event_type   = #{eventType,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventPublishTypeHandler},
            biz_type     = #{bizType,jdbcType=VARCHAR},
            req_payload  = #{reqPayload,jdbcType=VARCHAR},
            resp_payload = #{respPayload,jdbcType=VARCHAR},
            publish_guid = #{publishGuid,jdbcType=CHAR},
            process_guid = #{processGuid,jdbcType=CHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByEventStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_event_process tevent_process
        where tevent_process.event_status =
        #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler}
        limit #{limitCount}
    </select>
    <update id="updateByPrimaryKeySelectiveWithUpdateTimeOptLock">
        update t_event_process
        <set>
            <if test="entity.createTime != null">
                create_time = #{entity.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entity.deleteTime != null">
                delete_time = #{entity.deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="entity.eventStatus != null">
                event_status =
                #{entity.eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventProcessStatusHandler},
            </if>
            <if test="entity.eventType != null">
                event_type =
                #{entity.eventType,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.EventPublishTypeHandler},
            </if>
            <if test="entity.bizType != null">
                biz_type = #{entity.bizType,jdbcType=VARCHAR},
            </if>
            <if test="entity.reqPayload != null">
                req_payload = #{entity.reqPayload,jdbcType=VARCHAR},
            </if>
            <if test="entity.respPayload != null">
                resp_payload = #{entity.respPayload,jdbcType=VARCHAR},
            </if>
            <if test="entity.publishGuid != null">
                publish_guid = #{entity.publishGuid,jdbcType=CHAR},
            </if>
            <if test="entity.processGuid != null">
                process_guid = #{entity.processGuid,jdbcType=CHAR},
            </if>
        </set>
        where id = #{entity.id,jdbcType=BIGINT} and update_time = #{oldUpdateTime,jdbcType=TIMESTAMP}
    </update>
</mapper>