<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.prontera.persistence.OrderMapper">
    <resultMap id="BaseResultMap" type="com.github.prontera.domain.Order">
        <id column="torder_id" jdbcType="BIGINT" property="id"/>
        <result column="torder_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="torder_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="torder_delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="torder_user_id" jdbcType="BIGINT" property="userId"/>
        <result column="torder_product_id" jdbcType="BIGINT" property="productId"/>
        <result column="torder_price" jdbcType="INTEGER" property="price"/>
        <result column="torder_status" jdbcType="TINYINT" property="status"
                typeHandler="com.github.prontera.model.type.handler.OrderStatusHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
        torder.id as torder_id, torder.create_time as torder_create_time, torder.update_time as torder_update_time,
        torder.delete_time as torder_delete_time, torder.user_id as torder_user_id, torder.product_id as torder_product_id,
        torder.price as torder_price, torder.status as torder_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order torder
        where torder.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_order
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.github.prontera.domain.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order (id, create_time, update_time,
                             delete_time, user_id, product_id,
                             price, status
        )
        VALUES (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                #{deleteTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT},
                #{price,jdbcType=INTEGER},
                #{status,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.OrderStatusHandler}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.github.prontera.domain.Order" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.OrderStatusHandler},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.prontera.domain.Order">
        update t_order
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status =
                #{status,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.OrderStatusHandler},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.prontera.domain.Order">
        UPDATE t_order
        SET create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            user_id     = #{userId,jdbcType=BIGINT},
            product_id  = #{productId,jdbcType=BIGINT},
            price       = #{price,jdbcType=INTEGER},
            status      = #{status,jdbcType=TINYINT,typeHandler=com.github.prontera.model.type.handler.OrderStatusHandler}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>