<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncLogger name="com.github.prontera" level="debug"/>

        <AsyncRoot level="error">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>
    </Loggers>

</configuration>
