<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.prontera.persistence.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.prontera.domain.User">
        <id column="tuser_id" jdbcType="BIGINT" property="id"/>
        <result column="tuser_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="tuser_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="tuser_delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="tuser_mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="tuser_login_pwd" jdbcType="VARCHAR" property="loginPwd"/>
        <result column="tuser_pwd_salt" jdbcType="VARCHAR" property="pwdSalt"/>
        <result column="tuser_balance" jdbcType="BIGINT" property="balance"/>
    </resultMap>
    <sql id="Base_Column_List">
        tuser.id as tuser_id, tuser.create_time as tuser_create_time, tuser.update_time as tuser_update_time,
        tuser.delete_time as tuser_delete_time, tuser.mobile as tuser_mobile, tuser.login_pwd as tuser_login_pwd,
        tuser.pwd_salt as tuser_pwd_salt, tuser.balance as tuser_balance
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user tuser
        where tuser.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_user
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.github.prontera.domain.User" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_user (id, delete_time, mobile,
                            login_pwd, pwd_salt, balance
        )
        VALUES (#{id,jdbcType=BIGINT}, #{deleteTime,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR},
                #{loginPwd,jdbcType=VARCHAR}, #{pwdSalt,jdbcType=VARCHAR}, #{balance,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.github.prontera.domain.User" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="loginPwd != null">
                login_pwd,
            </if>
            <if test="pwdSalt != null">
                pwd_salt,
            </if>
            <if test="balance != null">
                balance,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="loginPwd != null">
                #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="pwdSalt != null">
                #{pwdSalt,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.prontera.domain.User">
        update t_user
        <set>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="loginPwd != null">
                login_pwd = #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="pwdSalt != null">
                pwd_salt = #{pwdSalt,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.prontera.domain.User">
        UPDATE t_user
        SET delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            mobile      = #{mobile,jdbcType=VARCHAR},
            login_pwd   = #{loginPwd,jdbcType=VARCHAR},
            pwd_salt    = #{pwdSalt,jdbcType=VARCHAR},
            balance     = #{balance,jdbcType=BIGINT}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByMobile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user tuser
        where tuser.mobile = #{mobile}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user tuser
        limit #{offset}, #{limited}
    </select>
    <update id="consumeBalance">
        UPDATE t_user
        SET balance = balance - #{amount,jdbcType=BIGINT}
        WHERE id = #{userId,jdbcType=BIGINT} AND balance > 0 AND (balance - #{amount}) > 0
    </update>
    <update id="returnReservedBalance">
        UPDATE t_user
        SET balance = balance + #{amount,jdbcType=BIGINT}
        WHERE id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>