<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.prontera.persistence.EventSubscriberMapper">
    <resultMap id="BaseResultMap" type="com.github.prontera.domain.EventSubscriber">
        <id column="tevent_sub_id" jdbcType="BIGINT" property="id"/>
        <result column="tevent_sub_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="tevent_sub_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="tevent_sub_delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="tevent_sub_biz_type" jdbcType="VARCHAR" property="businessType"/>
        <result column="tevent_sub_event_status" jdbcType="TINYINT" property="eventStatus"
                typeHandler="com.github.prontera.domain.type.handler.EventStatusTypeHandler"/>
        <result column="tevent_sub_payload" jdbcType="VARCHAR" property="payload"/>
        <result column="tevent_sub_lock_version" jdbcType="INTEGER" property="lockVersion"/>
        <result column="tevent_sub_pub_guid" jdbcType="VARCHAR" property="guid"/>
    </resultMap>
    <sql id="Base_Column_List">
        tevent_sub.id as tevent_sub_id, tevent_sub.create_time as tevent_sub_create_time,
        tevent_sub.update_time as tevent_sub_update_time, tevent_sub.delete_time as tevent_sub_delete_time,
        tevent_sub.biz_type as tevent_sub_biz_type, tevent_sub.event_status as tevent_sub_event_status,
        tevent_sub.payload as tevent_sub_payload, tevent_sub.lock_version as tevent_sub_lock_version,
        tevent_sub.pub_guid as tevent_sub_pub_guid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_event_sub tevent_sub
        where tevent_sub.id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_event_sub
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.github.prontera.domain.EventSubscriber" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_event_sub (id, delete_time, biz_type,
                                 event_status,
                                 payload, lock_version, pub_guid
        )
        VALUES (#{id,jdbcType=BIGINT}, #{deleteTime,jdbcType=TIMESTAMP}, #{businessType,jdbcType=VARCHAR},
                #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler},
                #{payload,jdbcType=VARCHAR}, #{lockVersion,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.github.prontera.domain.EventSubscriber" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_event_sub
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="businessType != null">
                biz_type,
            </if>
            <if test="eventStatus != null">
                event_status,
            </if>
            <if test="payload != null">
                payload,
            </if>
            <if test="lockVersion != null">
                lock_version,
            </if>
            <if test="guid != null">
                pub_guid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="eventStatus != null">
                #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler},
            </if>
            <if test="payload != null">
                #{payload,jdbcType=VARCHAR},
            </if>
            <if test="lockVersion != null">
                #{lockVersion,jdbcType=INTEGER},
            </if>
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.prontera.domain.EventSubscriber">
        update t_event_sub
        <set>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="businessType != null">
                biz_type = #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="eventStatus != null">
                event_status =
                #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler},
            </if>
            <if test="payload != null">
                payload = #{payload,jdbcType=VARCHAR},
            </if>
            <if test="lockVersion != null">
                lock_version = #{lockVersion,jdbcType=INTEGER},
            </if>
            <if test="guid != null">
                pub_guid = #{guid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.prontera.domain.EventSubscriber">
        UPDATE t_event_sub
        SET delete_time  = #{deleteTime,jdbcType=TIMESTAMP},
            biz_type     = #{businessType,jdbcType=VARCHAR},
            event_status = #{eventStatus,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler},
            payload      = #{payload,jdbcType=VARCHAR},
            lock_version = #{lockVersion,jdbcType=INTEGER},
            pub_guid     = #{guid,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateEventStatusByPrimaryKeyInCasMode">
        UPDATE t_event_sub
        SET
            event_status =
            #{target,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler}
        WHERE id = #{id,jdbcType=BIGINT} AND
              event_status =
              #{expect,jdbcType=TINYINT,typeHandler=com.github.prontera.domain.type.handler.EventStatusTypeHandler}
    </update>
</mapper>