<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE"/>
    </appender>

    <springProfile name="default">
        <logger name="com.github.prontera" level="DEBUG"/>
    </springProfile>
    <springProfile name="dev">
        <logger name="com.github.prontera" level="DEBUG"/>
    </springProfile>
    <springProfile name="test">
        <logger name="com.github.prontera" level="DEBUG"/>
    </springProfile>
    <springProfile name="stag">
        <logger name="com.github.prontera" level="WARN"/>
    </springProfile>
    <springProfile name="prod">
        <logger name="com.github.prontera" level="WARN"/>
    </springProfile>

    <root level="WARN">
        <!--<appender-ref ref="ASYNC"/>-->
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>